<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>E-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LocaleDemo</display-name>
    <servlet-name>LocaleDemo</servlet-name>
    <servlet-class>controller.LocaleDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocaleDemo</servlet-name>
    <url-pattern>/LocaleDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_Register</display-name>
    <servlet-name>Client_Register</servlet-name>
    <servlet-class>controller.Client_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_Register</servlet-name>
    <url-pattern>/Client_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_Login</display-name>
    <servlet-name>Client_Login</servlet-name>
    <servlet-class>controller.Client_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_Login</servlet-name>
    <url-pattern>/Client_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_Logout</display-name>
    <servlet-name>Client_Logout</servlet-name>
    <servlet-class>controller.Client_Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_Logout</servlet-name>
    <url-pattern>/Client_Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart_Servlet</display-name>
    <servlet-name>Cart_Servlet</servlet-name>
    <servlet-class>controller.Cart_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart_Servlet</servlet-name>
    <url-pattern>/Add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuentityIncreDecre</display-name>
    <servlet-name>QuentityIncreDecre</servlet-name>
    <servlet-class>controller.QuentityIncreDecre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuentityIncreDecre</servlet-name>
    <url-pattern>/quentity-incre-decre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProduct</display-name>
    <servlet-name>RemoveProduct</servlet-name>
    <servlet-class>controller.RemoveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProduct</servlet-name>
    <url-pattern>/remove-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNow</display-name>
    <servlet-name>OrderNow</servlet-name>
    <servlet-class>controller.OrderNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNow</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocaleProducts</display-name>
    <servlet-name>LocaleProducts</servlet-name>
    <servlet-class>controller.LocaleProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocaleProducts</servlet-name>
    <url-pattern>/LocaleProducts</url-pattern>
  </servlet-mapping>
</web-app>